body, html, .row-offcanvas {
    height: 100%;
}

body {
    padding-top: 50px;
    background-color: whitesmoke;
}

/*
 * off Canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
        width: calc(100% + 220px);
    }

    .row-offcanvas-left {
        left: -220px;
    }

        .row-offcanvas-left.active {
            left: 0;
        }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
    }
}

@media (max-width: 650px) {
    .movieDescription {
        margin-left: 240px !important;
    }
}

@media (max-width: 490px) {
    .movieDescription {
        margin-left: 125px !important;
    }
}